/* PyramidLoader.css */
.pyramid-container {
  display: flex;
  flex-direction: column-reverse; /* Disporre i livelli dalla base verso l'alto */
  align-items: center;
  justify-content: flex-end;
  height: 300px;
  width: 100px;
}

.pyramid-level {
  height: 20px;
  margin: 3px 0; /* Spaziatura tra i livelli */
  transition: background-color 0.3s ease; /* Transizione per i cambiamenti di colore */
  width: 100%; /* Impostiamo la larghezza a 100% per ogni livello */
}

.pyramid-level.filled {
  /* Nessun colore specifico qui, è gestito dinamicamente via inline style */
}

.pyramid-container-wrapper {
  background-color: rgba(255, 255, 255, 0.2); /* Sfondo semi-trasparente */
  backdrop-filter: blur(1px); /* Aggiunge l'effetto di blur al contenuto dietro il rettangolo */
  /*border: 2px solid #ddd;Bordo grigio chiaro */
  border-radius: 25px; /* Angoli arrotondati per il bordo */
  padding: 20px; /* Spazio interno per il contenitore */
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center; /* Centra verticalmente */
  width: 400px; /* Imposta la larghezza */
  height: 400px; /* Imposta l'altezza */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Leggera ombra */
}